<%- include('header.ejs') %>

    <p>Welcome <%=username%>, You are logged in.</p>

    <img    src="https://api.dicebear.com/7.x/avataaars-neutral/svg?seed=Leo&eyebrows=angry,angryNatural,default"
            alt="avatar"
    />


<%- include('footer.ejs') %>